html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark .table {
    color: #ffffff;
}

body.dark .bg-light {
    background-color: #1f1f1f !important;
}

body.dark .card {
    background-color: #1e1e1e;
    color: white;
}

body.dark .form-control,
body.dark .btn {
    background-color: #2c2c2c;
    color: white;
}

.transition {
    transition: background-color 0.3s, color 0.3s;
}
body.dark .table thead {
    background-color: #2a2a2a;
    color: white;
}

body.dark .table tbody tr:hover {
    background-color: #333;
}
body.dark .navbar-dark {
    background-color: #1f1f1f !important;
}
.card {
    background-color: #f8f9fa;
}
.theme-text {
    color: black;
}

body.dark .theme-text {
    color: white !important;
}
.theme-toggle-btn {
    border-color: black;
    color: black;
}

body.dark .theme-toggle-btn {
    border-color: white;
    color: white;
}